<!DOCTYPE html>
<html>
<head>
	<title>Microservice ApiVuelos</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	
	<nav id="mainNavbar" class="navbar navbar-dark bg-dark eliminarSeleccion navbar-fixed-top">
		<a class="navbar-brand text-primary fx" href="">Index</a>
		<a href="" class="text-light fx px-2">Country</a>
		<a href="" class="text-light fx px-2">State</a>
		<a href="" class="text-light fx px-2">City</a>
		<a href="" class="text-light fx px-2">Airport</a>
		<a href="" class="text-light fx px-2">Route</a>
		<a href="" class="text-light fx px-2">Cabin</a>
		<a href="" class="text-light fx px-2">Flight</a>
		<a href="" class="text-light fx px-2">Ticket</a>
	</nav>

	<article class="container my-3 py-2">
		<h1 class="text-center">MicroService ApiVuelos</h1>
		<hr>
		<p>
			Hello there!<br>
			Click on one of this option...<br>
			e.g.: Country
		</p>

		<nav id="mainNavbar" class="navbar navbar-dark bg-dark eliminarSeleccion navbar-fixed-top">
			<span class="navbar-brand text-primary fx">Index</span>
			<span href="" class="text-success fx px-2">Country</span>
			<span href="" class="text-light fx px-2">State</span>
			<span href="" class="text-light fx px-2">City</span>
			<span href="" class="text-light fx px-2">Airport</span>
			<span href="" class="text-light fx px-2">Route</span>
			<span href="" class="text-light fx px-2">Cabin</span>
			<span href="" class="text-light fx px-2">Flight</span>
			<span href="" class="text-light fx px-2">Ticket</span>
		</nav>

		<p>
			<br>
			You will see a <span class="text-info">List of Countries</span> that you have in your database and you can <span class="text-success">ADD</span>, <span class="text-danger">REMOVE</span> and <span class="text-warning">MODIFY</span> a Country.
		</p>
	</article>
</body>
</html>