<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
		<link rel="stylesheet" th:href="@{/css/select2.min.css}">

		<title>WebService Airport</title>

		<style type="text/css">
			#datePicker, select {
				cursor: pointer;
			}
		</style>
	</head>
	<body class="h-100 d-flex img-fluid" th:style="'background: url(' + @{/css/images/avion.jpg} + ') no-repeat; background-size: 100% 100%;'">

	<div class="card m-auto border border-dark p-1 justify-content-center shadow" style="width: 35rem; background-color: rgba(0, 0, 0, 0.3);">
		<div class="card-body">
			<form action="/ticket" method="GET">
				<div class="form-group row">
					<label for="iataBegin" class="col-md-2 text-white">From: </label>
					<select class="js-example-basic-single form-control col-md-10" id="iataBegin" name="iataAirportBegin" required>
						<option value="" selected>Choose...</option>
						<tr th:each="airport : ${airportList}">
							<td><option th:value="${airport.iataCode}" th:text="${airport.name + ' (' + airport.iataCode} + ')'"></option></td>
						</tr>
					</select>
				</div>
				<div class="form-group row">
					<label for="iataEnd" class="col-md-2 text-white">To: </label>
					<select class="js-example-basic-single form-control col-md-10" id="iataEnd" name="iataAirportEnd" required>
						<option value="" selected>Choose...</option>
						<tr th:each="airport : ${airportList}">
							<td><option th:value="${airport.iataCode}" th:text="${airport.name + ' (' + airport.iataCode} + ')'"></option></td>
						</tr>
					</select>
				</div>
				<div class="form-group row">
					<label for="datePicker" class="col-md-2 text-white">Date: </label>
					<input type="text" name="date" id="datePicker" class="form-control custom-select col-md-10" placeholder="e.g. 25/12/2018" required>
				</div>
				<div class="form-group row">
					<label for="cabin" class="col-md-2 text-white">Cabin: </label>
					<select id="cabin" class="form-control custom-select col-md-10" name="typeCabin" required>
						<option value="" selected>Choose...</option>
						<tr th:each="cabin : ${cabinList}">
							<td><option th:value="${cabin.name}" th:text="${cabin.name}"></option></td>
						</tr>
					</select>
				</div>
				<footer class="text-center">
					<input type="submit" class="btn btn-success">
				</footer>
			</form>
		</div>
	</div>

        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/popper.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/select2.min.js}"></script>

		<script>
			var datePicker = $( "#datePicker" );
			datePicker.val($.datepicker.formatDate('dd/mm/yy', new Date()));
			datePicker.datepicker({ 
				dateFormat: 'dd/mm/yy',
				minDate: new Date() 
			});

			$(document).ready(function() {
			    $('.js-example-basic-single').select2();
			});
    	</script>
	</body>
</html>
