<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
	<link rel="stylesheet" th:href="@{/css/select2.min.css}">

	<title>WebService Airport</title>

	<style type="text/css">
		#datePicker, select {
			cursor: pointer;
		}
	</style>
</head>
<body class="h-100 d-flex img-fluid" th:style="'background: url(' + @{/css/images/avion.jpg} + ') no-repeat; background-size: 100% 100%;'">

<div class="m-auto justify-content-center">
	<article class="row">
		<section class="card col-md-5 border border-dark p-1 shadow" style="width: 35rem; background-color: rgba(0, 0, 0, 0.3);">
			<div class="card-body">
				<h2 class="text-center text-white">Sign up</h2>
				<hr>
				<form action="/user/register" method="POST">
					<div class="form-group">
						<label for="userNameRegister" class="text-white">Name: </label>
						<input type="text" name="userName" id="userNameRegister" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="userPasswordRegister" class="text-white">Password: </label>
						<input type="password" name="password" id="userPasswordRegister" class="form-control" required>
					</div>
					<footer class="text-center">
						<input type="submit" class="btn btn-success">
					</footer>
				</form>
			</div>
		</section>
		<section class="card offset-md-2 col-md-5 border border-dark p-1 shadow" style="width: 35rem; background-color: rgba(0, 0, 0, 0.3);">
			<div class="card-body">
				<h2 class="text-center text-white">Sign in</h2>
				<hr>
				<form action="/user/login" method="POST">
					<div class="form-group">
						<label for="userNameLogin" class="text-white">Name: </label>
						<input type="text" name="userName" id="userNameLogin" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="userPasswordLogin" class="text-white">Password: </label>
						<input type="password" name="password" id="userPasswordLogin" class="form-control" required>
					</div>
					<footer class="text-center">
						<input type="submit" class="btn btn-success">
					</footer>
				</form>
			</div>
		</section>
	</article>
</div>

		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/popper.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/select2.min.js}"></script>

		<script>
			var datePicker = $( "#datePicker" );
			datePicker.val($.datepicker.formatDate('dd/mm/yy', new Date()));
			datePicker.datepicker({
				dateFormat: 'dd/mm/yy',
				minDate: new Date()
			});

			$(document).ready(function() {
			    $('.js-example-basic-single').select2();
			});
    	</script>
</body>
</html>
